@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,900&family=Oswald:wght@600&display=swap');
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
  color: rgb(243, 232, 232);
  font-weight: 40;
}

.game-box {
  /* height: 100vh; */

  background-color: #f4b41a;
  width: 80%;
  margin: auto;
  height: 100%;
  padding: 5%;
}
hr {
  display: block;
  height: 0.5px;
  border: 0;
  border-top: 0.5px solid #143d59be;
  box-shadow: 1px 1px 4px rgb(236, 236, 236);
  margin-top: 30px;
}
.howtoplay {
  width: 60%;
  margin: auto;
  padding: 20px;
  font-size: 1.2em;
  font-family: 'Merriweather', serif;
  color: #143d59;
  margin-top: 30px;
  border: 1px solid white;
  border-radius: 10px;
  box-shadow: 3px 3px 12px #eee6e67e;
}
#game-panel {
  /* width: 80%; */
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.score-panel {
  width: 20% !important;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.scoreboard {
  color: rgb(255, 254, 254);
  height: 100px;
  border-radius: 10px;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 900;
}
.scorebox {
  font-size: 1.5rem;
  font-weight: 700;
  background-color: #143d59 !important;
  padding: 10px;
  border-radius: 10px;
}

button {
  background-color: rgb(255, 254, 254);
  color: #143d59;
  width: 100%;
  /* height: 100px; */
  margin-top: 30px;
  border-radius: 10px;
  padding: 15px;
  border: none;
  font-size: 1em;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}
button:hover {
  color: rgb(255, 254, 254);
  background-color: #143d59;
}
.grid-panel {
  width: 60%;
}
.grid {
  /* width:60%; */
  padding: 5px;
  margin: 0 auto;
  margin-top: 60px;
  /* height:50%; */
  display: flex;
  flex-wrap: wrap;
  background-color: #143d59;
  border-radius: 25px;
}
.grid div {
  flex: 0 0 24%;
  background-color: rgb(255, 254, 254);
  font-weight: bold;
  font-size: 60px;
  text-align: center;
  line-height: 100px;
  margin: 0.5%;
  border-radius: 25px;
  border-color: white;
  color: #143d59;
}

h2 {
  font-size: 4em;
  color: #fff;
  text-align: center;
  margin: -20px;
  font-family: 'Merriweather', serif;
}

.howtoplay i {
  font-size: 3em;
  color: white;
  float: right;
  text-align: center;
}
h3 {
  position: relative;
  clear: both;
}

h3::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 0%;
  width: 180px;
  height: 2px;
  margin-top: -1px;
  background: rgba(252, 250, 250, 0.712);
}
@media (max-width: 1100px) {
  #game-panel {
    flex-direction: column;
    display: flex;

    font-size: 12px;
  }
  .grid-panel {
    width: 80%;
  }

  .score-panel {
    width: 100%;
    text-align: center;
  }
  .scoreboard {
    display: flex !important;
    /* align-items: center; */
    flex-direction: row !important;
    justify-content: space-around !important;
  }
  .scorebox {
    margin-right: 30px !important;
    width:35%;
  }
  button {
    padding: 5px;
    margin: 0;
    width:50%;
  }
}
